.realisation .petitTitre, .realisation .glyfTitre {
    color: #30b4ac;
}

.margin {
    margin-bottom: 50px;

}

.uneRea {
    height: 167px;
    background-size: 100%;

    border: solid 5px #222;
}

.realisation .texte {
    font-size: 22px;
    font-family: champagneGras;
    text-align: center;
}
.sitePerso {
    background-image: url("../images/sitePerso.png");
}
.randonnee {
    background-image: url("../images/rando.png");

}

.ptidej {
    background-image: url("../images/ptidej.png");
}

.pendu {
    background-image: url("../images/pendu.png");
}

.cuisiner {
    background-image: url("../images/cuisiner.png");
}

.domotique {
    background-image: url("../images/homeControl.png");
}

.unArticle p {
    font-size: 18px;
    text-align: justify;
    font-weight: 500;
}
.titreArticle{
    font-size: 60px;
    font-family: Ink;
    padding-left: 40px;
    color: #30b4ac;
}
.unArticle{
    margin-bottom: 70px;
}
.texteArticle{
    margin-bottom: 50px;
}
.unArticle img{
    width: 100%;
    margin-bottom: 30px;
}
h4 {
    font-family: Champagne;
    color: #30b4ac;
    font-size: 25px;
    text-indent: 2em;
}
h5 {
    font-family: Champagne;
    font-size: 21px;
    color: #30b4ac;
    text-indent: 2em;
}

.images{
    margin-top: 110px;
    padding: 20px;
}

.listeAsideCSS p{
    font-size: 17px;
}

.galerieImages,.asideTexte{
    padding: 10px;
}
.galerieImages img {
    width: 100%;
}
.btnRetour{
    background-color: #22807a;
    color : white;
}
@media (min-width: 400px) and (max-width: 770px) {
    .margin .uneRea {
        width: 300px;
        margin: auto;
    }

}
.code {
    background-color: black;
    color: #6d6c6c;
}
@media only screen and (max-width: 600px) {
    .unArticle p {
        font-size: 14px;
    }

    h3 {
        font-size: 23px;
    }

    h4 {
        font-size: 19px;
    }
    .unArticle{
        margin-bottom: 30px;
    }
    .images{
        margin-top: 0px;
    }
}