.realisation .petitTitre,
.realisation .glyfTitre {
	color: #30b4ac;
}
.margin {
	padding: 30px 0 50px 20px;
}
.uneRea {
	height: 167px;
	margin-bottom: 20px;
	border: solid 5px #222;
	background-size: cover;
	background-position: center;
}
.resumeRea {
	font-size: 17px;
	padding-top: 10px;
}
.titreRea {
	color: #30b4ac;
}

.realisation .texte {
	font-size: 22px;
	font-family: champagneGras;
}
.langagesRea {
	font-size: 19px;
	color: gray;
}
.btn-rea {
	margin-left: 20px;
	background-color: #30b4ac;
	color: #fff;
	width: 150px;
}
.btn-rea-suite {
	background-color: #fff;
	border: solid 1px #30b4ac;
	color: #30b4ac;
}
.btn-lien-github {
	width: 50%;
	font-size: 17px;
}
.github {
	margin: 20px 0 80px 20px;
}
.sitePerso {
	background-image: url("../images/sitePerso.png");
}
.randonnee {
	background-image: url("../images/rando.png");
}
.voyagesCroises {
	background-image: url("../images/VCminiature.JPG");
}
.ptidej {
	background-image: url("../images/ptidej.png");
}

.pendu {
	background-image: url("../images/pendu.png");
}

.cuisiner {
	background-image: url("../images/cuisiner.png");
}

.domotique {
	background-image: url("../images/homeControl.png");
}

.unArticle p {
	font-size: 18px;
	text-align: justify;
	font-weight: 500;
}
.titreArticle {
	font-size: 60px;
	font-family: Ink;
	padding-left: 40px;
	color: #30b4ac;
}
.unArticle {
	margin-bottom: 70px;
}
.texteArticle {
}
.btn-after-article {
	margin-top: 50px;
}
.pointer {
	cursor: pointer;
}
.li-projet {
	border-bottom: 1px solid #30b4ac;
	background-color: #30b4ac33;
	padding-top: 10px;
}
.li-projet h4 {
	padding-left: 20px;
}
.unArticle img {
	width: 100%;
	margin-bottom: 30px;
}
#imgArchiPendu {
	width: 65%;
}
h4 {
	font-family: Champagne;
	color: #30b4ac;
	font-size: 25px;
	text-indent: 2em;
}
h5 {
	font-family: Champagne;
	font-size: 21px;
	color: #30b4ac;
	text-indent: 1em;
}
.btn-lien {
	background-color: #e2e1e1;
}
.images {
	margin-top: 110px;
	padding: 20px;
	text-align: center;
}

.listeAsideCSS p {
	font-size: 17px;
}
.galerieImages .btnLienAside {
	margin-bottom: 6px;
}
.galerieImages,
.asideTexte {
	padding: 10px;
}
.galerieImages img {
	width: 100%;
}
.btnRetour {
	background-color: #22807a;
	color: white;
}
.contenu-projet {
	padding: 0 20px;
}
code {
	color: #ffffff;
	background-color: #525252;
	border-radius: 0;
	padding: 3px 8px;
	font-size: 16px;
	font-family: "Courier New", Courier, monospace;
}
.code {
	background-color: #525252;
	color: white;
	padding: 5px 5px 5px 20px;
	margin: 10px 0;
	border-left: 8px solid #bdbdbd;
	font-size: 16px;
	font-family: "Courier New", Courier, monospace;
}
.alinea {
	text-indent: 25px;
}
.alineaD {
	text-indent: 50px;
}
.commentaire {
	color: #949292;
}
.h6 {
	color: #30b4ac;
	font-size: 16px;
}
@media (min-width: 400px) and (max-width: 770px) {
	.margin .uneRea {
		margin: auto;
	}
}

@media only screen and (max-width: 990px) {
	.unArticle p {
		font-size: 16px;
	}
	.btn-lien {
		width: 50%;
	}
	.images {
		margin-top: 0px;
	}
	.galerieImages img {
		width: 48%;
		height: 150px;
	}
	.texteArticle {
		margin-bottom: 20px;
	}
	.titreArticle {
		font-size: 50px;
	}
}

@media only screen and (max-width: 768px) {
	.unArticle p {
		font-size: 14px;
	}

	h3 {
		font-size: 23px;
	}

	h4 {
		font-size: 19px;
	}
	.unArticle {
		margin-bottom: 30px;
	}
	.btnRetour {
		margin: 3px auto;
	}
	.titreArticle {
		font-size: 40px;
	}
}
@media (min-width: 400px) and (max-width: 768px) {
	.btnRetour {
		width: 300px;
	}
}
@media only screen and (max-width: 400px) {
	.btn-lien {
		width: 100%;
	}
	.galerieImages img {
		width: 100%;
		height: auto;
	}
	.titreArticle {
		font-size: 35px;
	}
}
