.my-masonry-grid {
	display: -webkit-box; /* Not needed if autoprefixing */
	display: -ms-flexbox; /* Not needed if autoprefixing */
	display: flex;
	margin-left: -30px; /* gutter size offset */
	width: auto;
}
.my-masonry-grid_column {
	padding-left: 30px; /* gutter size */
	background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
	/* change div to reference your elements you put in <Masonry> */
	background: grey;
	margin-bottom: 30px;
}
.img-fluid {
	max-width: 100%;
}
.masonry-col {
	padding-left: 30px;
	background-clip: padding-box;
}
.card {
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.125);
	border-radius: 0.25rem;
}
.card-block {
	padding: 10px;
}
.card-text {
	font-size: 18px;
}
.card-date {
	font-size: 14px;
}
h4 {
	text-indent: 0;
}
.mb-5 {
	margin-bottom: 50px;
}
