.background {
    width: 100%;
    height: 691px;
    background-image: url("../images/background-vert.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 70px 0 0 30px;
}

.header {

}

.header h1 {
    font-family: Ink;
    font-size: 100px;
}

.titreHeader {
    margin: 0;
    color: white;
    font-size: 50px;
}

.textHeader {
    color: white;
    font-family: 'Champagne';
    font-size: 40px;
    padding-left: 60px;
}

@media only screen and (max-width: 1024px) {
    .background {
        height: 372px;
    }

    .header h1 {
        font-size: 100px;
    }

    .textHeader {
        font-size: 30px;
    }
}

