@font-face {
font-family: 'MlleCamille';
src: url('../font/Mademoiselle Camille L.ttf');
}
@font-face {
font-family: 'ChampagneGras';
src: url('../font/Champagne & Limousines Bold.ttf');
}
@font-face {
font-family: 'Champagne';
src: url('../font/Champagne & Limousines.ttf');
}
@font-face {
font-family: 'Ink';
src: url('../font/Inkfree.ttf');
}
h2{
	margin-top: 50px;
	margin-bottom: 20px;
	color: #fff;
	font-family: MlleCamille;
}
.sansPadding{
	padding: 0;
}
.quelquesMots h2{
	color: #fff;
	margin-bottom: 20px;
}
.quelquesMots{
	background-color: #30b4ac;

}
.quelquesMots .texte, .actuellemnt .texte{
	padding-bottom: 60px;
	text-align: justify;	
}

p{
	font-size: 22px;
	font-family: 'ChampagneGras';
}
.petitTitre{
	padding-left:40px;
}
.glyfTitre{
	float: left;
}
.actuellemnt{
	background-color: #fff;	
}
.actuellemnt h2{
	color:  #30b4ac;
}
.petitTitre{
	font-family: Ink;
	font-size: 50px;
}
.identite{
    padding: 0;
    height: 748px;
    background-image: url(../images/identite2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;

}

@media only screen and (max-width: 600px) {
    .petitTitre{
        font-size: 32px;
    }
}

@media only screen and (max-width: 1024px) {
	.petitTitre{
        font-size: 32px;
    }
    p{
    	font-size: 15px;
    }
    .identite{
    	height: 458px;
	}
	.quelquesMots .texte, .actuellemnt .texte{
		padding-bottom: 10px;
	}
	h2{
		margin-top: 50px;
	}
}